<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	</head>
	<body>
		<div class="ui center aligned text container">
			<div class="ui grid">
				<div class="ui two wide column"></div>
				<div class="ui fourteen wide column">
					<div>
						<h1 class="ui center aligned dividing header">Swiss Tournament Organizer</h1>
					</div>
					{% if form.errors %}
					<p>Your username and password didn't match. Please try again.</p>
					{% endif %}
					
					{% if next %}
					    {% if user.is_authenticated %}
					    <p>Your account doesn't have access to this page. To proceed,
					    please login with an account that has access.</p>
					    {% else %}
					    <h2 class="ui teal">Please login to see this page.</h2>
					    {% endif %}
					{% endif %}
					
					<form class="ui medium form" method="post" action="{% url 'login' %}">
					{% csrf_token %}
						<table class="ui celled table">
						<tr>
						    <td class="five wide">{{ form.username.label_tag }}</td>
						    <td class="eleven wide"><div class="ui fluid input">{{ form.username }}</div></td>
						</tr>
						<tr>
						    <td>{{ form.password.label_tag }}</td>
						    <td><div class="ui fluid input">{{ form.password }}</div></td>
						</tr>
			
						</table>
							<input class="ui fluid teal button" type="submit" value="login" />
							<input type="hidden" name="next" value="{{ next }}" />
					</form>
					
					{# Assumes you setup the password_reset view in your URLconf #}
					<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
				</div>
			</div>
		</div>
	</body>
</html>