{% extends 'base.html' %}

{%block script%}
<script>
		function startTournament(){
			if (window.confirm('Do you really want to start the tournament? All previous tournament data will be deleted.')){
				location.href='/swiss_gui/start_tournament';
			}
		}
</script>
{%endblock%}

{% block content %}
			<h2 class="ui header">
				Create New Tournament:</p>
			</h2>
			<div class="ui segment">
				<h3 class="ui header">Player Current List:</h3>
				<table class="ui celled table">
					<thead>
						<tr>
							<th>player ID</th>
							<th>name</th>
							<th>rating</th>
						</tr>
					</thead>
					<tbody>
						{%for pl in player_list %}
							<tr>
								<td data-label="player ID">{{pl.0}}</td>
								<td data-label="name">{{pl.1}}</td>
								<td data-label="rating">{{pl.2}}</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
			<div class="ui center aligned text container" onclick="startTournament();">
				<button class="ui primary button">
					Start Tournament
				</button>
			</div>
{% endblock %}