{% extends 'base.html' %}

{% block content %}
<h3 class="ui header">
	A fast, simple, easy-to-use Swiss tournament manager!</p>
</h3>
<div>
Features:</p>
<ul>
	<li>Automatic Swiss Dutch Pairing</li>
	<li>Show Tournament Standings</li>
</ul>
</div>

<div class="ui center aligned text container">
	<button class="ui primary button" onclick="location.href='/swiss_gui/register_user'">
		Create New Tournament
	</button>
	<button class="ui button" onclick="location.href='/swiss_gui/show_pairing_page'">
		Resume Tournament
	</button>
	<button class="negative ui button" onclick="location.href='/accounts/logout'">
		Exit
	</button>
</div>
{% endblock %}