<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<body>
	<div class="index pushable">
	<div class="ui container">
		<div class="ui text container">
			<a href='/swiss_gui'>
				<div>
					<h1 class="ui center aligned dividing header">Swiss Tournament Organizer</h1>
				</div>
			</a>
			<div>
				<h3 class="ui header">Round {{round}} pairing is coming</h3>
			</div>	
			<div class="ui center aligned text container" onclick="location.href='/swiss_gui/show_pairing_page'">
				<button class="ui primary button">
					Return to Pairing Page
				</button>
			</div>
		</div>
	</div>
	</div>
	</body>
</html>