{% extends 'base.html' %}

{% block content %}
		<form method="post" class="ui form" action="/swiss_gui/submit_result/">
			{% csrf_token %}
				<div class="ui four item menu">
	  				<a class="item" href="/swiss_gui/show_pairing_page">Current Pairing</a>
					<a class="item" href="/swiss_gui/show_standing_page">Standing</a>
					<a class="item" href="/swiss_gui/show_history_page">History</a>
					<a class="active item" href="/swiss_gui/show_report_page">Report Results</a>
				</div>
	
				<h2 class="ui header">
					Round {{round}}:</p>
				</h2>
				<div class="ui segment">
					<h3 class="ui header">Report Result:</h3>
					<table class="ui table">
						<thead>
							<tr>
								<th >White</th>
								<th ></th>
								<th >Score</th>
								<th ></th>
								<th >Black</th>
							</tr>
						</thead>
						<tbody>
							<div class="fields">
								<td class="five wide">
									<div class="ui fluid selection dropdown">
										<input type="hidden" name="whitename">
										<i class="dropdown icon"></i>
										<div class="default text">White name</div>
										<div class="menu">
										{%for name in names %}
											<div class="item" data-value="{{name}}">{{name}}</div>
										{% endfor %}
										</div>
									</div>
								</td>
								<td class="two wide">
									<div class="ui fluid selection dropdown">
										<input type="hidden" name="whiteresult">
										<i class="dropdown icon"></i>
										<div class="default text">0,0.5,1</div>
										<div class="menu">
											<div class="item" data-value="0">0</div>
											<div class="item" data-value="0.5">0.5</div>
											<div class="item" data-value="1">1</div>
										</div>
									</div>
								</td>
								<td class="two wide"></td>
								<td class="two wide">
									<div class="ui fluid selection dropdown">
										<input type="hidden" name="blackresult">
										<i class="dropdown icon"></i>
										  <div class="default text">0,0.5,1</div>
										  <div class="menu">
										    <div class="item" data-value="0">0</div>
										    <div class="item" data-value="0.5">0.5</div>
										    <div class="item" data-value="1">1</div>
										  </div>
									</div>
								</td>
								<td class="five wide">
									<div class="ui fluid selection dropdown">
										<input type="hidden" name="blackname">
										<i class="dropdown icon"></i>
										<div class="default text">Black name</div>
										<div class="menu">
										{%for name in names %}
											<div class="item" data-value="{{name}}">{{name}}</div>
										{% endfor %}
										</div>
									</div>
								</td>
							</div>
						</tbody>
					</table>
				</div>
				<div class="ui center aligned text container">
					<button class="ui primary button" type="submit">
						Submit Results
					</button>
				</div>
			</form>
{% endblock %}

{% block bottomscript %}
<script>
	$('.ui.dropdown').dropdown();
</script>
{% endblock %}