{% extends 'base.html' %}

{% block script %}
	<script>
		function endTournament(){
			if (window.confirm('Do you really want to end this tournament?')){
				location.href='/swiss_gui/end_tournament';
			}
		}
	</script>
{% endblock %}
{% block content %}
			<div class="ui four item menu">
  				<a class="active item" href="/swiss_gui/show_pairing_page">Current Pairing</a>
				<a class="item" href="/swiss_gui/show_standing_page">Standing</a>
				<a class="item" href="/swiss_gui/show_history_page">History</a>
				<a class="item" href="/swiss_gui/show_report_page">Report Results</a>
			</div>

			<h2 class="ui header">
				Round {{round}}:</p>
			</h2>

				<h3 class="ui header">Pairing:</h3>
				<table class="ui celled table">
					<thead>
						<tr>
							<th>Board</th>
							<th>player ID</th>
							<th>White</th>
							<th></th>
							<th>Score</th>
							<th></th>
							<th>Player ID</th>
							<th>Black</th>
						</tr>
					</thead>
					
					<tbody>
						{%for pl in pairing_list %}
							<tr>
								<td data-label="board_number">{{pl.board_number}}</td>
								<td data-label="white_player ID">{{pl.white_no}}</td>
								<td data-label="white_name">{{pl.white_name}}</td>
								<td data-label="white_score">{{pl.white_score}}</td>
								<td></td>
								<td data-label="black_score">{{pl.black_score}}</td>
								<td data-label="black_player_ID">{{pl.black_no}}</td>
								<td data-label="black_name">{{pl.black_name}}</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>

			<div class="ui right aligned text container" onclick="location.href='/swiss_gui/next_round'">
				<button class="ui primary button">
					Go to Next Round
				</button>
			</div>
			<div>
				<div class="ui text">
					If all rounds end, please click "End tournament" Button.
				</div>
				<div class="ui right aligned text container" onclick="endTournament();">
					<button class="negative ui button">
						End tournament
					</button>
				</div>
			</div>
{% endblock %}